# Core dependencies (MUST)
torch>=2.0.0
transformers>=4.30.0
datasets>=2.12.0
numpy>=1.24.0
pandas>=2.0.0
tqdm>=4.65.0

# Optional dependencies（used for accelerate and log）
accelerate>=0.20.0
wandb>=0.15.0
tensorboard>=2.13.0

